  [run]
  source = pyjobs
  omit =
      pyjobs/core/tests/*.py
      pyjobs/marketing/tests/*.py
      pyjobs/core/migrations/*.py
      pyjobs/marketing/migrations/*.py
      pyjobs/wsgi.py
      pyjobs/partners/apps.py
      pyjobs/partners/test/*.py
      pyjobs/partners/migrations/*.py
