[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
ipdb = "*"
ipython = "*"
model-mommy = "*"
nose = "*"

[packages]
dj-database-url = "*"
Django = "<2.0.0"
django-appconf = "*"
django-bootstrap3 = "*"
django-cities = "*"
django-filter = "*"
django-material = "*"
django-model-utils = "*"
django-recaptcha = "*"
Django-Select2 = "*"
django-tastypie = "*"
django-widget-tweaks = "*"
facebook-sdk = "*"
gunicorn = "*"
mailchimp3 = "*"
psycopg2-binary = "*"
python-dateutil = "*"
python-decouple = "*"
python-telegram-bot = "*"
pytz = "*"
raven = "*"
requests = "*"
sendgrid = "*"
sendgrid-django = "*"
tqdm = "*"
whitenoise = "*"

[requires]
python_version = "3.6"
