[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = "*"
ipdb = "*"
isort = "*"
model-mommy = "*"
nose = "*"
responses = "*"
freezegun = "*"

[packages]
dj-database-url = "*"
Django = "==2.2.13"
django-appconf = "*"
django-bootstrap3 = "*"
django-extensions = "*"
django-filter = "*"
django-material = "*"
django-model-utils = "*"
django-recaptcha = "*"
Django-Select2 = ">7.0.2"
django-widget-tweaks = "*"
gunicorn = "*"
mailchimp3 = "*"
psycopg2-binary = "*"
python-dateutil = "*"
python-decouple = "*"
python-telegram-bot = "*"
pytz = "*"
raven = "*"
requests = "*"
restless = "*"
sendgrid = "*"
sendgrid-django = "*"
tqdm = "*"
whitenoise = "*"
pillow = "*"
ipython = "==7.16.1"

[requires]
python_version = "3.7.4"

[pipenv]
allow_prereleases = true
