amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.25
contextlib2==0.5.5
decorator==4.1.2
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.3
django-bootstrap-pagination==1.6.2
django-bootstrap3==9.0.0
django-celery==3.2.1
django-extensions==1.8.1
django-social-share==1.1.2
djangorestframework==3.6.3
gunicorn==19.7.1
ipdb==0.10.3
ipython==6.1.0
ipython-genutils==0.2.0
jedi==0.10.2
kombu==3.0.37
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
psycopg2==2.7.3
ptyprocess==0.5.2
Pygments==2.2.0
python-decouple==3.0
python-http-client==2.2.1
pytz==2017.2
raven==6.1.0
sendgrid==3.6.5
sendgrid-django==4.0.4
simplegeneric==0.8.1
six==1.10.0
static3==0.7.0
traitlets==4.3.2
wcwidth==0.1.7
whitenoise==3.3.0
