{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{%block ogimage%}
<meta property="og:image" content="{% url 'thumbnail_view' job.pk %}" />
{% endblock %}
{% block title %}
{{job.title}} no {{WEBSITE_NAME}}
{% endblock %}
{%block main%}
<section class="detalhes-vaga">
    <div class="container" style="min-height:100vh;">
            <div class="container">

                <div class="block-heading">
                    {% if shared %}
                    <div class="alert alert-success" role="alert">
                      Email enviado ao Pythonista Indicado!
                    </div>
                    {%endif%}
                    {% if invalid_email %}
                    <div class="alert alert-danger" role="alert">
                      Email inválido! Tente novamente!
                    </div>
                    {%endif%}
                    <center><h1 class="text-info">{{job.title}}</h1></center>
                    <center><p>Postada: {{job.created_at|naturalday}}</p></center>
                </div>

                        <h2 class="question">
                            Compartilhe essa vaga:
                        </h2>
                        <form action="." method="post">
                            <div class="answer">
                                {%csrf_token%}
                                {{form.as_p}}
                                <input type="submit" name="" value="Indicar!" class="botao">
                            </div>
                        </form>

    </div>
</section>
{%endblock%}
