{% extends "base.html" %}
{% load bootstrap_pagination %}
{% block content %}
<h2 style="margin-top:15px;text-align:center;">Membros do banco de currículos:</h2>
<style media="screen">
  .chip{
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
  }
</style>
<!-- JOB -->
<hr/>
{% for interessado in interessados %}
<div class="row">
  <div class="col-md-9">
    <h5>Currículo de: <b>{{interessado.usuario.get_full_name}}</b></h5>
    <hr>
    <p>
      E-mail: {{interessado.usuario.email}}<br/>
      Telefone: {{interessado.telefone}}<br>
      Skills:
      {% for skill in interessado.skills.get_queryset %}
      <div class="chip">
        {{skill}}
      </div>
      {%endfor%}
    </p>
  </div>
  <div class="col-md-3">
    <a href="/cvdb/cv/{{interessado.pk}}">
    <input type="button" name="name" value="Ver mais detalhes" class="btn btn-success" style="font-size:24x;">
    </a>
  </div>
</div>
<hr/>
{% endfor %}
{% bootstrap_paginate interessados range=n_pages %}
{% endblock content %}
