{% load static %}
<!DOCTYPE html>
<html>

<head>
    <style media="screen">
    .btn-chamada {
        background-color: #ffe01b;
        color: #000;
        border: 0px solid #000;
    }

    .btn-destacada {
        height: 75px;
        width: 100%;
        margin-top: 25px;
        background-color: #ffe01b;
        color: #000;
        border: 0px solid #000;
    }

    #id_skills{
        width: 100%;
    }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T2VF6PC');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Aqui seu novo emprego Python acha você. Oportunidades para programadores Python nas áreas de back-end, data scientists e outros devs. Receba até 10 ofertas para trabalhar como desenvolvedor." name="description"/>
    <meta name="description" content="Aqui é o portal onde você encontrará seu futuro emprego Python. No PyJobs vagas e pessoas especialistas em Python não faltam! Somos a referência na linguagem em todo o país.">
    <title>{% if title %}{%block title%}{%endblock%}{%else%}PyJobs - Sua central de vagas Python{%endif%}</title>
    <meta name="keywords" content="empregos, vagas, buscar vagas, vagas de emprego, vagas de programador python, emprego de programador python, empregos python, vagas python, buscar vagas python, vagas de emprego python">
    <meta name="twitter:description" content="Busque agora vagas de emprego de dev python. PyJobs, a gente trabalha pelo seu trabalho.">
    <meta property="og:image" content="http://mediad.publicbroadcasting.net/p/shared/npr/styles/x_large/nprshared/201310/208254350.jpg" />
    <meta property="og:site_name" content="PyJobs" />
    <meta property="og:title" content="{% if title %}{{title}}{%else%}PyJobs - Vagas de Emprego Python{%endif%}" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:description"
    content="Aqui é o portal onde você encontrará seu futuro emprego Python. No PyJobs vagas e pessoas especialistas em Python não faltam! Somos a referência na linguagem em todo o país." />
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="{% static 'assets/fonts/simple-line-icons.min.css' %}">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '355041588645833');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=355041588645833&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T2VF6PC"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"> <h1> <a class="navbar-brand logo" href="/">PyJobs</a></h1><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'index' %}#oportunidades">VAGAS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'job_creation' %}">CADASTRE UMA VAGA</a></li>
                    <!-- <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'contact' %}">CONTATO</a></li> -->
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'services' %}">NOSSOS SERVI&Ccedil;OS</a></li>

                    {% if user.is_authenticated %}
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'pythonistas_area' %}">ÁREA DO PYTHONISTA</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'logout' %}">LOGOUT</a></li>
                    {% else %}
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'pythonistas_signup' %}">SE CADASTRE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'login' %}">SE LOGUE</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {%block main%}
    {%endblock main%}
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>PyJobs</h5>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#oportunidades">Oportunidades Python</a></li>
                        <li><a id="link-modal-cadastro-footer">Cadastre uma vaga</a></li>
                        <li><a href="https://br.jooble.org/vagas-de-emprego-desenvolvedor-python">Jooble</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2019 PyJobs</p>
        </div>
    </footer>

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-103581044-1', 'auto');
      ga('send', 'pageview');
      </script>
    {%block extra_scripts%}
    {%endblock%}
</body>
</html>
