{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T2VF6PC');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Aqui seu novo emprego {{WEBSITE_WORKING_LANGUAGE}} acha você. Oportunidades para programadores {{WEBSITE_WORKING_LANGUAGE}} nas áreas de back-end, data scientists e outros devs. Receba até 10 ofertas para trabalhar como desenvolvedor." name="description"/>
    <meta name="description" content="Aqui é o portal onde você encontrará seu futuro emprego {{WEBSITE_WORKING_LANGUAGE}}. No {{WEBSITE_NAME}} vagas e pessoas especialistas em {{WEBSITE_WORKING_LANGUAGE}} não faltam! Somos a referência na linguagem em todo o país.">
    <title>{% if title %}{%block title%}{%endblock%}{%else%}{{WEBSITE_NAME}} - Sua central de vagas {{WEBSITE_WORKING_LANGUAGE}}{%endif%}</title>
    <meta name="keywords" content="empregos, vagas, buscar vagas, vagas de emprego, vagas de programador {{WEBSITE_WORKING_LANGUAGE}}, emprego de programador {{WEBSITE_WORKING_LANGUAGE}}, empregos {{WEBSITE_WORKING_LANGUAGE}}, vagas {{WEBSITE_WORKING_LANGUAGE}}, buscar vagas {{WEBSITE_WORKING_LANGUAGE}}, vagas de emprego {{WEBSITE_WORKING_LANGUAGE}}">
    <meta name="twitter:description" content="Busque agora vagas de emprego de dev {{WEBSITE_WORKING_LANGUAGE}}. {{WEBSITE_NAME}}, a gente trabalha pelo seu trabalho.">
    {% block ogimage %}
    <meta property="og:image" content="http://mediad.publicbroadcasting.net/p/shared/npr/styles/x_large/nprshared/201310/208254350.jpg" />
    {% endblock ogimage%}
    <meta property="og:site_name" content="{{WEBSITE_NAME}}" />
    <meta property="og:title" content="{% if title %}{{title}}{%else%}{{WEBSITE_NAME}} - Vagas de Emprego {{WEBSITE_WORKING_LANGUAGE}}{%endif%}" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:description" content="{% if description %}{{description}}{%else%}Aqui é o portal onde você encontrará seu futuro emprego {{WEBSITE_WORKING_LANGUAGE}}. No {{WEBSITE_NAME}} vagas e pessoas especialistas em {{WEBSITE_WORKING_LANGUAGE}} não faltam! Somos a referência na linguagem em todo o país.{%endif%}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <script src="https://kit.fontawesome.com/8347312236.js" crossorigin="anonymous"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T2VF6PC"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav class="navbar navbar-expand-lg navbar-light justify-content-between shadow-sm">
        <div class="container">
            <a class="navbar-brand">
                {% if WEBSITE_NAME == "PyJobs" %}
                    <a class="nav-link" href="/" style="margin: 0; padding: 0;">
                        <img src="{% static 'assets/img/logo-PyJobs.svg' %}" style="height:50px">
                    </a>
                {%else%}
                    <h1>{{WEBSITE_NAME}}</h1>
                {%endif%}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto" style="margin-right: 10px;">
                  <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="/jobs/">Vagas</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="{% url 'services' %}">Nossos serviços</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="{% url 'pythonistas_signup' %}">Cadastre-se</a>
                  </li>
                    <li class="nav-item active dropdown ">
                    {% if user.is_authenticated %}
                        <a class="nav-link dropdown-toggle" href="{% url 'pythonistas_area' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% else %}
                        <a class="nav-link dropdown-toggle" href="{% url 'login' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {%endif%}
                    Área do Pythonista
                  </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        <a class="dropdown-item" href="{% url 'pythonistas_area' %}">Meu painel</a>
                        {%else%}
                        <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                        {%endif%}
                      </div>
                    </li>
              </ul>
              <div class="form-inline my-2 my-lg-0">
                  <a href="{% url 'job_creation' %}">
                      <button class="botao">Cadastre uma vaga</button>
                  </a>
              </div>
            </div>
        </div>
      </nav>
    {%block main%}
    {%endblock main%}
    <footer>
        <!-- TODO: Fazer hamburgui -->
        <div class="container py-5">
          <div class="row">
            <div class="col-12 col-md my-auto">
                <img src="{% static 'assets/simbolo-pyjobs.png' %}" alt="" width="100">
            </div>
            <div class="col-6 col-md">
              <h5>HOME</h5>
            </div>
            <div class="col-6 col-md">
              <h5>VAGAS</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/jobs/">Ver Vagas</a></li>
                <li><a class="text-muted" href="/jobs/">Destaques</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>CADASTRE-SE</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{% url 'job_creation' %}">Cadastre uma vaga</a></li>
                <li><a class="text-muted" href="{% url 'pythonistas_signup' %}">Cadastre-se</a></li>
              </ul>
            </div>
          </div>
        </div>
    </footer>
    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% if not user.is_authenticated %}
        {% include 'modal_donate.html'%}
        <script>
            $(document).ready(function(){
                if (document.cookie.indexOf("visitado=") >= 0) {}
                else {
                    document.cookie = "visitado=yes; expires=Fri, 31 Dec 9999 23:59:59 GMT";
                    $("#modal-donate").modal();
                }
            });
        </script>
    {% endif %}
    <script src="{% static 'assets/js/theme.js' %}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{GA_CODE}}', 'auto');
      ga('send', 'pageview');
      </script>
    {%block extra_scripts%}
    {%endblock%}
</body>
</html>
