{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block metas %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{%block main%}
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">{% translate "Contato"%}</h2>
                    <p>{% translate "Mande uma mensagem para a equipe do"%} {{WEBSITE_NAME}} {% translate "com uma sugestão, elogio ou dúvida!"%}</p>
                </div>
                <form action="." method="post">
                  {% csrf_token %}
                  {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                  {% endfor %}
                  {% for field in form.visible_fields %}
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          {{ field.label_tag }}
                        </span>
                      </div>
                      {% if field.errors %}
                      {% render_field field class="form-control is-invalid" %}
                      {% for error in field.errors %}
                      <div class="invalid-feedback-pj">
                        {{ error }}
                      </div>
                      {% endfor %}
                      {%else%}
                        {% render_field field class="form-control" %}
                      {%endif%}
                      <div class="input-group-append">
                        {% if field.help_text %}
                          <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {%endfor%}
                  <div class="g-recaptcha" data-sitekey="6Lerz1cUAAAAAK9xC1q1Hbqpfbtb75ck26IZVRPf"></div>
                  <br>
                    <div class="form-group">
                      <button class="btn btn-primary btn-block" type="submit">{% translate "Enviar"%}</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
{%endblock%}
