{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% load core_tags %}
{%block title%} {{WEBSITE_NAME}} - A Central de Jobs {{WEBSITE_WORKING_LANGUAGE}}
{%endblock%}
{%block main%}
    <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 call-to-action">
                        <h2 class="call-to-action-text-h2">
                            Encontre aqui as melhores vagas e profissionais Python
                        </h2>
                        <p class="call-to-action-text-p">
                            PyJobs é o maior site de profissionais Python do Brasil. Nossos anúncios alcançam uma rede de mais de 15 mil profissionais Python, e temos mais de 2 anos de experiência com recrutamento.
                        </p>
                        <a href="{% url 'job_creation' %}">
                            <input type="button" value="Quero Cadastrar Uma Vaga" class="botao">
                        </a>
                        <p class="call-to-action-pos-botao">
                            ou veja as <a href="#cards">vagas listadas abaixo</a>
                        </p>
                    </div>
                    <div class="col-lg-6 call-to-action-img mx-auto text-center">
                        <img src="{% static 'assets/imagem-header.png' %}" alt="" class="img-header">
                    </div>
                </div>
            </div>
    </header>
    <section class="filtro filtro-shadow p-3 mb-1 bg-white rounded">
        <div class="container">
            <div class="row">
                <h2 class="">PESQUISE AQUI A VAGA QUE MELHOR SE ENQUADRE AO SEU PERFIL</h2>
            </div>
            <form method="get" action="{% url 'jobs' %}">
                <div class="row" style="margin-top:10px;">
                {% for field in filter.form.visible_fields %}
                    <div class="col-md-4 filtro-form-item-select">
                        <label>{{field.label_tag}}<br/>
                        </label>
                        {% if field.html_name != "requirements" and field.html_name != "title" %}
                        <div class="select-form-filtro">
                        {% endif %}
                            {%render_field field %}
                        {% if field.html_name != "requirements" and field.html_name != "title" %}
                        </div>
                        {% endif %}
                    </div>
                     {% if forloop.counter|divisibleby:3 %}
                     </div>
                     <div class="row" style="margin-top:10px;">
                     {% endif %}
                {% endfor %}
                </div>
                <div class="row" style="margin-top:20px; margin-bottom:10px;">
                    <div class="col-md-12">
                        <input type="submit" name="" value="BUSCAR" class="botao">
                    </div>
                </div>
            </form>
            </div>
        </section>
        <section class="info-cards-section">
            <div class="container">
                <div class="row">
                    <h2>Nossas vagas</h2>
                </div>
                <div class="row">
                    <p>Aqui você tem acesso a nossas vagas mais recentes para se cadidatar! Se você é uma empresa e quer encontrar os melhores profissionais Python e ter sua vaga destacada na comunidade, entre em <a href="{% url 'contact' %}">contato conosco</a> e encontre aqui o profissional ideal para seu time!</p>
                </div>
            </div>
        </section>
        <!-- COLOCAR COL-LG-4 PARA TAMANHO DOS CARDS -->
        <section class="cards" id="cards">
            <div class="container-fluid">
                <div class="row">
                    {% for job in publicly_available_jobs %}
                    <div class="col-md-4 card-col">
                        <div class="card shadow">
                            <div class="card-body">
                                <h3 class="card-title" style="font-size: 18px;">{{ job.title|truncatechars:30 }}</h3>
                                <p class="card-text">
                                    <ul>
                                        <li><b>Empresa:</b> {{job.company_name}}</li>
                                        <li><b>Faixa salarial:</b> {{job.get_salary_range_display}}</li>
                                        <li><b>Estado:</b> {{job.get_state_display}}</li>
                                        <li><b>Local da vaga:</b> {{job.workplace}}</li>
                                        <li><b>Nível:</b> {{job.get_job_level_display}}</li>
                                        <li><b>Aceita Remoto:</b> {% if job.remote %} Sim {%else%} N&atilde;o {%endif%}</li>
                                        <li><b>Postada em:</b> {{job.created_at|naturalday}}</li>
                                    </ul>
                                </p>
                                <div class="tags">
                                    {% for skill in job.skills.all %}
                                        {% if forloop.counter <= 4 %}
                                            <span class="badge badge-secondary custom-badge">{{skill.name}}</span>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                                <a href="/job/{{job.pk}}">
                                    <input type="button" class="botao" value="VER VAGA">
                                </a>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div>
                        <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="row navegacao-vagas">
                    <div class="col-lg-12">
                        <a href="/jobs/">
                            <input type="button" name="" value="VER VAGAS" class="botao">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="vagas-curadas">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h3>Conheça as melhores oportunidades Python</h3>
                        <p>Todas as oportunidades listadas no PyJobs passaram por um processo de curadoria para garantir a melhor qualidade possível das vagas. Nossa parceria com as empresas é feita de maneira transparente e visando melhores oportunidades e condições aos desenvolvedores.</p>
                        <a href="/jobs/">
                            <input type="button" value="QUERO VER AS VAGAS" class="botao">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <img src="{% static 'assets/joinha.png' %}" alt="">
                    </div>
                </div>

            </div>
        </section>
        <section class="depoimentos-h3">
            <div class="container">
                <div class="row">
                    <h3>Depoimentos</h3>
                </div>
            </div>
        </section>
        <section class="depoimentos">
                <div class="row depoimento-conteudo">
                    <div class="container">
                        <h4>Retake</h4>
                        <p>“O PyJobs é um recurso inestimável para o nosso recrutamento. Sempre encontramos os melhores talentos aqui.”</p>
                    </div>
                </div>
                <div class="row depoimento-conteudo depoimento-assinatura">
                    <div class="container" style="display: flex; width: auto;margin-bottom:20px;">
                        <div class="col-5">
                            <img src="{% static 'assets/rommel.png' %}" alt="" height="50" style="float:right;">
                        </div>
                        <div class="col-7">
                            Rommel Andriotti - Inquest
                        </div>
                    </div>
                </div>
        </section>
        <section class="call-to-action-anuncie h-200">
            <div class="row">
                    <div class="col-lg-6 my-auto">
                        <h3>Anuncie sua vaga aqui</h3>
                    </div>
                    <div class="col-lg-6 my-auto">
                        <a href="{% url 'job_creation' %}">
                            <input type="button" name="" value="CADASTRAR AGORA!">
                        </a>
                    </div>
                </div>
        </section>
  {%endblock main%}
  {% block extra_scripts%}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    $('#id_skills').select2();
  });
  </script>
  {%endblock%}
