{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{%block title%} PyJobs - A Central de Jobs Python
{%endblock%}
{%block main%}
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="background-image:url(&quot;http://mediad.publicbroadcasting.net/p/shared/npr/styles/x_large/nprshared/201310/208254350.jpg&quot;);color:rgba(9, 162, 255, 0.90);">
            <div class="text">
                <h2>Procurando o melhor desenvolvedor Python para sua empresa?</h2>
                <p>Cadastre agora uma vaga e tenha acesso aos melhores profissionais do Brasil!</p>
                <a href="{% url 'job_creation' %}">
                    <button class="btn btn-lg btn-chamada" type="button">Cadastre uma vaga AGORA!</button>
                </a>
              </div>
        </section>
        <section class="clean-block clean-info dark" style="padding-bottom:25px;">
            <div class="container">
                <div class="block-heading" style="margin-top:-40px;">
                    <h2 class="text-info">Depoimentos</h2>
                    <hr>
                </div>
                <div class="row">
                  <div class="col-md-3" style="text-align:center;">
                      <img src="{%static 'assets/img/avatars/retake.jpg'%}" alt="" width="125" height="150">
                  </div>
                  <div class="col-md-9" style="text-align:center;">
                        <h3>O PyJobs &eacute; um recurso inestim&aacute;vel para o nosso recrutamento. Sempre encontramos os melhores talentos aqui.</h3>
                        <p><b>Rommel Andriotti - Retake</b></p>
                  </div>
                </div>
            </div>
        </section>
        <section class="clean-block features">
            <div class="container">
                <div id="oportunidades" class="block-heading">
                    <h2 class="text-info">Conheça as melhores oportunidades Python</h2>
                    <p>Todas as oportunidades listadas no PyJobs passaram por um processo de curadoria para garantir a melhor qualidade o possível ao desenvolvedor</p>
                </div>
                <div class="row justify-content-center" style="margin-top:10px;">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title" style="color:#777;">Tenha sua vaga destacada aqui!</h4>
                                <h6 class="text-muted card-subtitle mb-2">Saiba como ter a sua vaga no topo e tenha sua empresa em destaque</h6>
                                <p class="card-text"  style="color:#777;">Encontre os melhores profissionais Python e tenha mais destaque na comunidade com a vaga destacada. Ela lhe proporcionará maior visibilidade e maior chance de contratação!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-3 d-none d-md-block"><a href="{% url 'contact' %}"><button class="btn btn-primary" type="button" style="height:75px;width:100%;margin-top:25px;">Entre em contato</button></a></div>
                </div>
                {% if premium_available_jobs %}
                {% for job in premium_available_jobs %}
                <div class="row justify-content-center" style="margin-top:10px;">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                              <a href="/job/{{job.pk}}">
                                <h4 class="card-title" style="font-weight: bold;">[Destaque] {{job.title}}</h4>
                              </a>
                                <h6 class="text-muted card-subtitle mb-2">Localização: {{job.workplace}}</h6>
                                <h6 class="text-muted card-subtitle mb-2">Postada: {{job.created_at|naturalday}}</h6>
                                <hr/>
                                {%for skill in job.skills.all%}
                                    <span class="badge badge-pill badge-primary">{{skill}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-3 d-none d-md-block"><a href="{% url 'job_view' job.pk %}"><button class="btn btn-primary" type="button" style="height:75px;width:100%;margin-top:25px;background-color:#ffe01b;color:#000;border: 0px solid #000;">Se Inscreva AGORA!</button></a></div>
                </div>
                {%endfor%}
                {% endif %}
                <div></div>
                <br>
                <hr>
                <div class="row justify-content-center" style="margin-top:10px;">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title" style="color:#777;">
                                    <i class="icon-magnifier icons"></i>&nbsp;&nbsp;Pesquisar vagas:
                                </h4>
                                <p class="card-text"  style="color:#777;">
                                    Use a pesquisa para procurar vagas na cidade que deseja, com o título, descrição ou requisitos.
                                    Ex: São Paulo, Data Scientist
                                </p>
                                    <form class="" method="get">
                                        <div class="row justify-content-center" style="margin-top:10px;">

                                        {% for field in filter.form.visible_fields %}
                                            <div class="form-group col-sm-4 col-md-4">
                                                {{field.label_tag}}
                                                {%render_field field class="form-control"%}
                                            </div>
                                        {% endfor %}
                                        </div>
                                        <button type="submit" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-search"></span> Filtrar
                                      </button>
                                    </form>

                            </div>
                        </div>
                        {% if publicly_available_jobs|length <= 0 %}
                            <strong>Nenhuma vaga encontrada...</strong>
                        {% endif %}
                    </div>
                </div>
                {% for job in publicly_available_jobs %}
                <div class="row justify-content-center" style="margin-top:10px;">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                              <a href="/job/{{job.pk}}">
                                <h4 class="card-title">{{job.title}}</h4>
                              </a>
                                <h6 class="text-muted card-subtitle mb-2">Localização: {{job.workplace}}</h6>
                                <h6 class="text-muted card-subtitle mb-2">Postada: {{job.created_at|naturalday}}</h6>
                                <hr/>
                                {%for skill in job.skills.all%}
                                    <span class="badge badge-pill badge-primary">{{skill}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-3 d-none d-md-block"><a href="{% url 'job_view' job.pk %}"><button class="btn btn-primary" type="button" style="height:75px;width:100%;margin-top:25px;">Mais Detalhes</button></a></div>
                </div>
                {% endfor %}
                <nav style="margin-top:10px;">
                    <ul class="pagination">
                      {% for page in pages %}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'index' %}?page={{page}}{% if 'search' in request.GET %}&search={{ request.GET.search }}{% endif %}">{{ page }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                </nav>
            </div>
        </section>
    </main>
  {%endblock main%}
  {% block extra_scripts%}
  <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    $('#id_skills').select2();
  });
  </script>
  {%endblock%}
