{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{%block ogimage%}
{% endblock %}
{% block title %}
{{job.title}} no {{WEBSITE_NAME}}
{% endblock %}
{%block main%}
<section class="detalhes-vaga">
    <div class="container">
        <center><h1 class="text-info">Challenge: {{job.title}}</h1></center>

        <h2>Desafio:</h2>
        {{job.challenge | safe | linebreaks}}
        <center>
            <form action="{% url 'job_application_challenge_submission' job.pk %}" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" name="" value="Enviar resposta!">
            </form>
        </center>
    </div>
</section>

{%endblock%}
