{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{%block ogimage%}
<meta property="og:image" content="{% url 'thumbnail_view' job.pk %}" />
{% endblock %}
{% block title %}
{{job.title}} no {{WEBSITE_NAME}}
{% endblock %}
{%block main%}

    <main class="page faq-page">

        <section class="clean-block clean-faq dark">

            <div class="container">

                <div class="block-heading">
                    <h1 class="text-info">{{job.title}}</h1>
                    <p>Postada: {{job.created_at|naturalday}}</p>
                </div>

                <div class="block-content">
                    {% if logged_in %}
                      {% if applied %}
                        <button class="btn btn-primary" type="button">Você já aplicou a esta vaga!</button>
                      {%else%}
                      <form action="." method="post">
                        {% csrf_token %}
                        {% if job.is_open %}
                            {% if job.application_link %}
                                <a href="{{job.application_link}}"><button class="btn btn-primary" type="submit">Candidate-se para esta vaga pelo {{WEBSITE_NAME}}</button></a>
                            {%else%}
                                <button class="btn btn-primary" type="submit">Candidate-se para esta vaga pelo {{WEBSITE_NAME}}</button>
                            {%endif%}
                        {% else %}
                        <button class="btn btn-primary" disabled>Vaga já fechada pela empresa anunciante</button>
                        {% endif %}
                      </form>
                      {% endif %}
                    {%else%}
                        <a href="{% url 'pythonistas_signup' %}">
                            <button class="btn btn-primary" type="button" id="application-status">Se logue e aplique a vaga!</button>
                        </a>
                    {% endif %}


                    <div class="faq-item">
                        <div class="answer">
                            {%for skill in job.skills.all%}
                                <span class="badge badge-pill badge-primary">{{skill}}</span>
                            {%endfor%}
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">Atributos da vaga:</h4>
                        <div class="answer">
                            <p>
                                <ul>
                                    <li>Empresa: {{job.company_name}}</li>
                                    <li>Faixa salarial: {{job.get_salary_range_display}}</li>
                                    <li>Estado: {{job.get_state_display}}</li>
                                    <li>Local da vaga: {{job.workplace}}</li>
                                    <li>Nível: {{job.get_job_level_display}}</li>
                                    <li>Aceita Remoto?: {% if job.remote %} Sim {%else%} N&atilde;o {%endif%}</li>
                                </ul>
                            </p>
                        </div>
                        <h4 class="question">Descrição da vaga</h4>
                        <div class="answer">
                          <p>
                            {{job.description|linebreaks}}
                          </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h4 class="question">Requisitos</h4>
                        <div class="answer">
                          <p>
                            {{job.requirements|linebreaks}}
                          </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <style media="screen">
        @media only screen and (max-width: 600px) {

            #application-status{
                width: 100%;
            }
        }
    </style>
{%endblock%}
