{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
Cadastre uma vaga - {{WEBSITE_NAME}}
{% endblock %}
{%block main%}
    <main class="page faq-page">
        <section class="clean-block clean-faq dark">
            <div class="container">
                <div class="block-heading">
                    <h1 class="text-info">Cadastre a sua vaga!</h1>
                </div>
                <div class="block-content">
                    <div class="faq-item">
                        <h4 class="question">Sobre o {{WEBSITE_NAME}}</h4>
                        <div class="answer">
                          <p>
                            O {{WEBSITE_NAME}} é o maior site de profissionais {{WEBSITE_WORKING_LANGUAGE}} do Brasil. Nós já contamos com mais de 15 mil profissionais altamente qualificados e mais de 2 anos de experiência em programadores {{WEBSITE_WORKING_LANGUAGE}}.
                          </p>
                          <p>
                            Preencha o formulário abaixo para o cadastro da vaga!
                          </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <form class="" action="{% url 'register_new_job' %}" method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="g-recaptcha" data-sitekey="6Lerz1cUAAAAAK9xC1q1Hbqpfbtb75ck26IZVRPf"></div>
                            <div class="modal-footer">
                                <button class="btn btn-light" type="button" data-dismiss="modal">Cancelar</button>
                                <button class="btn btn-primary" type="submit">Postar vaga</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </section>
    </main>
{%endblock%}
{% block extra_scripts%}
<script type="text/javascript">
$(document).ready(function() {
  $('#id_skills').select2();
});
</script>
{%endblock%}
