{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{%block metas%}
<meta property="og:image" content="{% url 'thumbnail_view' job.unique_slug %}" />
<meta property="og:title" content="{{job.title}} {% translate 'em'%} {{job.company_name}} | {{WEBSITE_NAME}}" />
<meta property="og:locale" content="pt_BR" />
<meta property="og:description" content="{{job.description|truncatechars:240}}}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="{{job.description|truncatechars:240}}}" name="description"/>
<meta name="description" content="{{job.description|truncatechars:240}}}"/>
<title>{{job.title}} {% translate "no"%} {{WEBSITE_NAME}}</title>
<meta name="twitter:description" content="{{job.description|truncatechars:250}}}"/>
<meta property="og:site_name" content="{{WEBSITE_NAME}}" />
{% endblock %}

{%block main%}

<section class="breadcrumb-nav-vagas">
    <div class="container-fluid">
        <div class="row row-breadcrumb-grande">
            <div class="col-lg-3 indicador-esquerdo">
                <a href="{% url 'job_view' previous_job_pk %}">{% translate "Vaga Anterior"%}</a>
            </div>
            <div class="col-lg-6 indicador-central">
                <a href="{% url 'jobs' %}">{% translate "Ver vagas"%}</a>
            </div>
            <div class="col-lg-3 indicador-direito">
                <a href="{% url 'job_view' next_job_pk %}">{% translate "Vaga Posterior"%}</a>
            </div>
        </div>
        <div class="row row-breadcrumb-pequeno">
            <div class="col-6 col-sm-6">
                <a href="{% url 'jobs' %}">{% translate "Ver vagas"%}</a>
            </div>
            <div class="col-3 col-sm-3 indicador-direito-sinal">
                <a href="{% url 'job_view' previous_job_pk %}"><</a>
            </div>
            <div class="col-3 col-sm-3 indicador-esquerdo-sinal">
                <a href="{% url 'job_view' next_job_pk %}">></a>
            </div>
        </div>
    </div>
</section>
{% if job.is_challenging and applied %}
<div class="alert alert-success" role="alert" style="margin-bottom:0px;">
    {% translate "Não se esqueça de responder ao desafio técnico clicando no botão abaixo!"%}
</div>
{%endif%}
{% if too_old and job.is_open %}
<div class="alert alert-warning" role="alert" style="margin-bottom:0px;">
    {% translate "Esta vaga pode j&aacute; ter sido fechada nos &uacute;ltimos 60 dias. Confirme com a empresa sobre a disponbilidade!"%}
</div>
{%endif%}
<section class="detalhes-vaga">
    <div class="container">
        <div class="top-breadcrumb-nav">
            <a href="{% url 'jobs' %}">Home</a> > <a href="{% url 'jobs' %}">{% translate "Vagas"%}</a> > <a href="{% url 'job_view' job.unique_slug%}">{{job.title}}</a>
        </div>
        <a href="{% url 'job_view' job.unique_slug %}">
            <h2>{{job.title}}</h2>
        </a>
        <h3 style="font-size:18px;">{% translate "Vaga Postada:"%} <span>{{job.created_at|naturalday}}</span></h3>

        <div class="row">
            <div class="col-lg-4 botoes-detalhes">
                {% if not EMPTY_PROFILE %}
                {% if logged_in %}
                  {% if applied %}
                    {% if job.is_challenging %}
                        <a href="{% url 'job_application_challenge_submission' job.unique_slug %}">
                            <button class="botao" type="button">{% translate "Clique aqui e preencha o desafio técnico!"%}</button>
                        </a>
                    {% else %}
                        <button class="botao" type="button">{% translate "Você já aplicou a esta vaga!"%}</button>
                    {% endif %}
                  {%else%}
                    {% if job.is_open %}
                        {% if job.application_link %}
                            <a href="{{job.application_link}}">
                                <button class="botao" type="button">{% translate "Candidate-se para esta vaga pelo link"%}</button>
                            </a>
                        {%else%}
                        <form action="." method="post">
                            {% csrf_token %}
                            <button class="botao" type="submit" onclick="this.disabled=true;this.value='{% translate "Enviando" %}'; this.form.submit();">{% translate "Candidate-se para esta vaga pelo"%} {{WEBSITE_NAME}}</button>
                        </form>
                        {%endif%}
                    {% else %}
                    <button class="botao" disabled>{% translate "Vaga já fechada pela empresa anunciante"%}</button>
                    {% endif %}
                  {% endif %}
                {%else%}
                    <a href="{% url 'login' %}?next={{ job.get_absolute_url }}">
                        <button class="botao" type="button" id="application-status" style="text-decoration: underline;">{% translate "Entre e Aplique a vaga!"%}</button>
                    </a>
                {% endif %}
                {%else%}
                <a href="{% url 'change_info' %}">
                    <button class="botao" type="button" id="application-status" style="text-decoration: underline;">{% translate "Preencha seu perfil!"%}</button>
                </a>                
                {% endif %}
            </div>
            <div class="col-lg-4 botoes-detalhes">
                <a href="{% url 'sharing_job_view' job.unique_slug %}">
                    <input type="button" value="{% translate 'Indique'%} {{USER_SUBSTANTIVE}}s!" class="botao" style="background-color: #0069D9!important;font-size:12px;">
                </a>
            </div>
            <div class="col-lg-4 botoes-redes-sociais">
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                    <a class="a2a_button_facebook"></a>
                    <a class="a2a_button_twitter"></a>
                    <a class="a2a_button_email"></a>
                    <a class="a2a_button_linkedin"></a>
                    <a class="a2a_button_whatsapp"></a>
                    <a class="a2a_button_telegram"></a>
                </div>
                <script async src="https://static.addtoany.com/menu/page.js"></script>
            </div>
        </div>
        <div class="row badges-detalhes">
            <div class="col-md-12" style="margin-top: 30px">
                {% for skill in job.skills.all %}
                    <a href="{% url 'job_skill_view' skill.unique_slug %}">
                        <span class="badge badge-secondary custom-badge">{{skill.name}}</span>
                    </a>
                {% endfor skill %}
            </div>
        </div>
        <div class="row" style="margin-top:40px;">
            <ul>
                <li>{% translate "Empresa:"%} {{job.company_name}}</li>
                <li>{% translate "Faixa salarial:"%} {% if job.get_salary_range_display != "NI" %}{{job.currency.slug}}${{salary.0}} - {{job.currency.slug}}${{salary.1}}{%else%}{%translate "Não informado" %}{%endif%}</li>
                <li>{% translate "Estado:"%} {{job.get_state_display}}</li>
                <li>{% translate "Local da vaga:"%} {{job.workplace}}</li>
                <li>{% translate "Nível:"%} {{job.get_job_level_display}}</li>
                <li>{% translate "Aceita Remoto?:"%} {% if job.remote %} {%translate "Sim"%} {%else%} {%translate "N&atilde;o"%} {%endif%}</li>
                <li>{% translate "Tipo de contrata&ccedil;&atilde;o:"%} {{job.get_contract_form_display}}</li>
            </ul>
        </div>
        <div class="row" style="margin-top:40px; padding: 20px 0 10px 20px; display: block; word-wrap: break-word;">
                <h3>{% translate "Descrição da vaga"%}</h3>
        </div>
        <div class="row" style="margin-top:15px; padding: 20px 0 10px 20px; display: block; word-wrap: break-word;">
                {% autoescape off %}
                    {{job.description|linebreaksbr}}
                {% endautoescape %}
        </div>
        <div class="row" style="margin-top:40px; padding: 20px 0 10px 20px;">
            <h3>{% translate "Requisitos"%}</h3>
        </div>
        <div class="row" style="margin-top:15px; padding: 20px 0 10px 20px; display: block; word-wrap: break-word;">
            {% autoescape off %}
                {{job.requirements|linebreaksbr}}
            {% endautoescape %}
        </div>
    {% if similar_jobs %}
        <div class="row" style="margin-top:40px; padding: 20px 0 10px 20px;">
            <h3>{% translate "Confira vagas similares"%}</h3>
        </div>
        <div class="row">
            <ul>
                {% for similar_job in similar_jobs %}
                    <li><a href="{% url 'job_view' similar_job.unique_slug %}?utm-source=recommended-jobs">{{similar_job.title}}</a></li>
                {% endfor %}
                </ul>
        </div>
    {% endif %}
    </div>
</section>
<script type="application/ld+json">
    {
        "@context" : "http://schema.org/",
        "@type" : "JobPosting",
        "title" : "{{job.title}}",
        "description" : "<h3>Descrição:</h3>{{job.description}}<br/><br/><h3>Requisitos:{{job.requirements}}</h3>",
        "identifier": {
          "@type": "PropertyValue",
          "name": "{{job.company_name}}",
          "value": "{{job.id}}"
        },
      
        "datePosted" : "{{job.created_at|date:"Y-m-d"}}",
        "validThrough" : "{{valid_thru|date:"Y-m-d"}}",
          "employmentType" : ["FULL_TIME"],
        "hiringOrganization" : {
          "@type" : "Organization",
          "name" : "{{job.company_name}}"
        },
        "jobLocation" : {
          "@type" : "Place",
          "address" : {
            "@type" : "PostalAddress",
            "addressRegion" : "{{job.get_state_display}}",
            "addressCountry": "{{job.country.name}}"
          }
        }{% if job.get_salary_range_display != "NI" and salary.0 is not None and salary.1 is not None %},
        "baseSalary": {
            "@type": "MonetaryAmount",
            "currency": "{{job.currency.slug}}",
            "value": {
              "@type": "QuantitativeValue",
              "minValue": {{salary.0}},
              "maxValue": {{salary.1}},
              "unitText": "MONTH"
            }
          }
          {% endif %}
      }
</script>
{%endblock%}
