{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <style media="screen">
    .btn-chamada {
        background-color: #ffe01b;
        color: #000;
        border: 0px solid #000;
    }

    .btn-destacada {
        height: 75px;
        width: 100%;
        margin-top: 25px;
        background-color: #ffe01b;
        color: #000;
        border: 0px solid #000;
    }

    #id_skills{
        width: 100%;
    }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T2VF6PC');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Oportunidades {{WEBSITE_WORKING_LANGUAGE}} nas áreas de back-end, data science e full stack" name="description"/>
    <title>Oportunidades {{WEBSITE_WORKING_LANGUAGE}} nas áreas de back-end, data science e full stack</title>
    <meta property="og:image" content="http://mediad.publicbroadcasting.net/p/shared/npr/styles/x_large/nprshared/201310/208254350.jpg" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&display=swap">
    <link rel="stylesheet" href="{% static 'assets/fonts/simple-line-icons.min.css' %}">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '355041588645833');
    fbq('track', 'PageView');
    </script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=355041588645833&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T2VF6PC"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container">
            <h1>
                <a class="navbar-brand" href="{% url 'index' %}">
                    {% with 'assets/img/'|add:WEBSITE_URL|add:'/logo.webp' as logo_img_path %}
                        <img src="{% static logo_img_path %}" style="height:50px;width:100px;" class="logo">
                    {% endwith %}
                </a>
            </h1>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'index' %}#oportunidades">VAGAS</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'job_creation' %}">CADASTRE UMA VAGA</a></li>
                    <!-- <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'contact' %}">CONTATO</a></li> -->
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'services' %}">NOSSOS SERVI&Ccedil;OS</a></li>

                    {% if user.is_authenticated %}
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'pythonistas_area' %}">ÁREA DO {{USER_SUBSTANTIVE}}</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'logout' %}">LOGOUT</a></li>
                    {% else %}
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'pythonistas_signup' %}">SE CADASTRE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'login' %}">SE LOGUE</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {%block main%}
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="background-image:url(&quot;http://mediad.publicbroadcasting.net/p/shared/npr/styles/x_large/nprshared/201310/208254350.jpg&quot;);color:rgba(9, 162, 255, 0.90);">
            <div class="text">
                <h2>Oportunidades para {{USER_SUBSTANTIVE}}s com Salários a partir de R$ 5.000</h2>
                <h3>Skills mais buscadas: React, Vue e Node.js.</h3>
                <p>Cadastre-se agora e tenha acesso às melhores oportunidades no Brasil!</p>
                <a href="{% url 'pythonistas_signup' %}">
                    <button class="btn btn-lg btn-chamada" type="button" style="font-size:25px;">Cadastre-se AGORA!</button>
                </a>
              </div>
        </section>
        <section class="clean-block">
            <div class="container">
                <div class="block-heading" style="margin-top:-40px;">
                    <h2>Como posso encontrar um emprego no {{WEBSITE_NAME}}?</h2>
                </div>
                <div>
                    <ul>
                        <li>
                            <h3>Se Cadastre na Plataforma</h3>
                            <p>Se cadastre na plataforma e coloque seus dados de contato e de referências (Linkedin, GitHub e Portfólio)</p>
                        </li>
                        <br/>
                        <br/>
                        <li>
                            <h3>Você escolhe as vagas que lhe interessam</h3>
                            <p>Entre em nossa home e escolha entre as mais diversas vagas e áreas abrangentes de nosso site!</p>
                        </li>
                        <br/>
                        <br/>
                        <li>
                            <h3>Você no controle do processo</h3>
                            <p>Com nossa plataforma, você sabe quais empresas você aplicou e quais são as outras oportunidades, sem ficar restringido a limites impostos por RHs.</p>
                        </li>


                    </ul>
                </div>
            </div>
        </section>
    </main>
    {%endblock main%}
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>{{WEBSITE_NAME}}</h5>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="#oportunidades">Oportunidades {{WEBSITE_WORKING_LANGUAGE}}</a></li>
                        <li><a id="link-modal-cadastro-footer" href="{% url 'job_creation' %}>Cadastre uma vaga</a></li>
                        <li><a href="https://br.jooble.org/vagas-de-emprego-desenvolvedor-python">Jooble</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2019 {{WEBSITE_NAME}}</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% include 'modal_donate.html'%}
    <script>
        $(document).ready(function(){
            if (document.cookie.indexOf("visitado=") >= 0) {}
            else {
                document.cookie = "visitado=yes; expires=Fri, 31 Dec 9999 23:59:59 GMT";
                $("#modal-donate").modal();
            }
        });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{GA_CODE}}', 'auto');
      ga('send', 'pageview');
      </script>
    {%block extra_scripts%}
    {%endblock%}
</body>
</html>
