{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{%block main%}
<link rel="canonical" href="{% url 'index' %}"/>
<style media="screen">
    input{
        width: 100%;
    }
    input[type=password]{
        height: 44px;
        border-radius: 10px;
        border: 1px solid rgba(170, 170, 170, 0.3);
        overflow: hidden;
        padding: 10px;
        -moz-box-shadow:    inset 0 0 5px #aaa;
        -webkit-box-shadow: inset 0 0 5px #aaa;
        box-shadow:         inset 0 0 5px #aaa;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    #push-sub-div{
      display: none; 
    }
</style>
<section class="listagem-vagas-em-destaque" style="min-height:70vh;">
    <div class="container">
        <h2>Login</h2>
        <form action="." method="post">
          <p>{% translate "Utilize seu usuário cadastrado (não seu e-mail) para se logar."%}</p>
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}
          {% if form.errors %}
            <p>{% translate "Seu usuário e senha estão incorretos."%}</p>
          {% endif %}
          {% for field in form.visible_fields %}
          <div class="form-group">
                <label for=""></label>
                  {{ field.label_tag }}
                  {% if form.errors %}
                    {% render_field field style="border: 1px solid rgba(255, 0, 0, 0.7);" %}
                  {% else %}
                    {% render_field field %}
                  {% endif %}
              <div class="input-group-append">
                {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
              </div>
          </div>
          {%endfor%}
          <div class="form-group row container">
            <p>{% translate "Ishe... Esqueci minha senha. E agora? Aqui está nosso"%} <a href="{%url 'password_reset'%}">{% translate "Reset de Senha"%}</a> =P</p>
          </div>
            <div class="row form-group">
              <div class="col-md-6">
              <button class="botao" type="submit">{% translate "Entrar"%}</button>
            </form>
            </div>
              <div class="col-md-6">
                <a href="{% url 'pythonistas_signup' %}" >
                  <button class="botao-inverso" type="button">{% translate "Cadastre-se"%}</button>
                </a>
              </div>
            </div>
            
    </div>
</section>
{%endblock%}
