{% load widget_tweaks %}
<div class="modal fade" role="dialog" tabindex="-1" id="modal-donate">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Apoie o PyJobs</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Doe para mantermos o site no ar</h3>
        <hr>
        <img src="http://mediad.publicbroadcasting.net/p/shared/npr/styles/x_large/nprshared/201310/208254350.jpg" alt="" width="100%">
        <hr>
        <p>O PyJobs &eacute; o &uacute;nico portal que facilita a vida de todo Pythonista em busca de uma vaga e recrutadores buscando excelentes profissionais. Para nos mantermos vivos, precisamos de sua colaboração!</p>
        <center>
        <a href="http://www.apoia.se/pyjobs">
          <button type="button" name="button" class="btn btn-success" style="font-size:40px;">
            Apoie
          </button>
        </a>
      </center>
  </div>
</div>
</div>
