{% load i18n %}
{% load widget_tweaks %}
{% load static %}
<div class="modal fade" id="modal-donate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="container">
            <div class="row row-modal" style="height: 100%;">
                <div class="col-md-6 text-center">
                  {% with 'assets/img/'|add:WEBSITE_URL|add:'/logo.webp' as logo_path %}
                    <img src="{% static logo_path %}" style="height:150px" style="display: inline-block;">
                  {% endwith %}
                </div>
                <div class="col-md-6 coluna-esquerda-modal">
                    <h4 class="modal-site-titulo">Inscreva-se em Nossa Newsletter</h4>
                    <br>
                    <p>{% translate "Não perca mais nenhuma dica de"%} {{WEBSITE_WORKING_LANGUAGE}} {% translate "e nenhum trampo! Se inscreva agora em nossa Newsletter!"%}</p>
                    <form class="ml-block-form" action="{{WEBSITE_MAILINGLIST_LINK}}" data-code="c7l1o9" method="post" target="_blank">
                      <input type="text" name="fields[email]" placeholder="{% translate 'Seu melhor E-mail aqui!'%}" autocomplete="email" style="width: 100%;margin-top:10px;">
                      <input type="hidden" name="ml-submit" value="1">
                      <button type="submit" class="botao" style="margin-top: 20px;">{% translate "ME CADASTRE"%}, {{WEBSITE_NAME}}!</button>
                      <button disabled="disabled" style="display:none" type="button" class="loading">
                    </form>
                </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
