<div class="row">
    <div class="col-md-12">
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&laquo;</span><i  class="page-item" aria-hidden="true"></i></a></li>
                {% else %}
                    <li class=" page-link disabled"><span aria-hidden="true">&laquo;</span><i class="page-item" aria-hidden="true"></i></li>
                {% endif %}
                
                {% if page_obj.number|add:'-4' > 1 %}
                    <li><a class="page-link" href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
                {% endif %}
                
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active"><span><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                        <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                
                {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                    <li><a class="page-link" href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
                {% endif %}
                
                {% if page_obj.has_next %}
                    <li><a class="page-link" href="?page={{ page_obj.next_page_number }}"><span aria-hidden="true">&raquo;</span><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                {% else %}
                    <li class="page-link disabled"><span aria-hidden="true">&raquo;</span><i class="fa fa-chevron-right" aria-hidden="true"></i></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>