{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{%block main%}
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Área do Pythonista</h2>
                </div>
                <div class="">
                    {% for application in applications %}
                        {{application.job.title}}
                    {%endfor%}
                </div>
            </div>
        </section>
    </main>
{%endblock%}
