{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{%block main%}
<style media="screen">
    .select-form-filtro select, .select2-container--default.select2-container--focus .select2-selection--multiple {
        border:0px;
    }

    .select-form-filtro:after{
        display: none;
    }


</style>
<section style="padding: 30px;">
    <div class="container">
        <h2 class="text-info">Área do {{USER_SUBSTANTIVE}}</h2>
        <form action="." method="post">
          <p>{{ message }}</p>
          {% csrf_token %}
          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}
          {% for field in form.visible_fields %}
          {% if field.html_name != "skills" %}
              <div class="col-md-6">
                  {{field.label_tag}}
              </div>
              <div  class="select-form-filtro" style="padding-left:5px; padding-right:5px;">
              {% if field.errors %}
              {% render_field field  %}
              {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
              {% endfor %}
              {%else%}
                {% render_field field style="width:100%;" %}
              {%endif%}
              <div class="input-group-append">
                {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                {% endif %}
            </div>
          </div>
          {%else%}
          <div class="form-group">
              <br>
              <label for="exampleInputEmail1">Skills</label>
              <small class="form-text text-muted">Preencha com as skills que você se encontra apto a executar ou que possua conhecimento</small>
              <br>
              <div class="select-form-filtro">
                    {% render_field field %}
              </div>
            </div>
          {%endif%}
          {%endfor%}
            <div class="form-group">
              <button class="botao" type="submit">Atualize suas informações</button>
            </div>
        </form>
    </div>
</section>
{%endblock%}
{% block extra_scripts%}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#id_skills').select2();
});
</script>
{%endblock%}
