{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{%block main%}
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Área do Pythonista</h2>
                </div>
                <form action="." method="post">
                  <p>{{ message }}</p>
                  {% csrf_token %}
                  {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                  {% endfor %}
                  {% for field in form.visible_fields %}
                  {% if field.html_name != "skills" %}
                  <div class="form-group" style="margin-top:5px">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          {{ field.label_tag }}
                        </span>
                      </div>
                      {% if field.errors %}
                      {% render_field field class="form-control is-invalid" %}
                      {% for error in field.errors %}
                      <div class="invalid-feedback">
                        {{ error }}
                      </div>
                      {% endfor %}
                      {%else%}
                        {% render_field field class="form-control" %}
                      {%endif%}
                      <div class="input-group-append">
                        {% if field.help_text %}
                          <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                        {% endif %}
                    </div>
                  </div>
                  {%else%}
                  <div class="form-group">
                      <br>
                      <label for="exampleInputEmail1">Skills</label>
                      <small class="form-text text-muted">Preencha com as skills que você se encontra apto a executar ou que possua conhecimento</small>
                      <br>
                      {% render_field field  %}
                    </div>
                  {%endif%}
                  {%endfor%}
                    <div class="form-group">
                      <button class="btn btn-primary btn-block" type="submit">Atualize suas informações</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
{%endblock%}
{% block extra_scripts%}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#id_skills').select2();
});
</script>
{%endblock%}
