{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{%block main%}
<section class="detalhes-vaga">
    <div class="container">
        <div class="block-heading">
            <h2>Área do {{USER_SUBSTANTIVE}}</h2>
            <h4>Atualize sua senha!</h4>
        </div>
        <form action="." method="post">
          <p>{{ message }}</p>
          {% csrf_token %}
          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}
          {% for field in form.visible_fields %}
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                  <label for="">
                  {{ field.label_tag }}
                  </label>
              </div>
              {% if field.errors %}
              {% render_field field class="form-control is-invalid" %}
              {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
              {% endfor %}
              {%else%}
                {% render_field field class="form-control" %}
              {%endif%}
              <div class="input-group-append">
                {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                {% endif %}
            </div>
          </div>
          {%endfor%}
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">Send</button>
            </div>
        </form>
    </div>
</section>
{%endblock%}
