{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{%block main%}
<section style="padding: 30px;">
    <div class="container">
        <h2 class="text-info">Cadastre-se no maior portal de vagas {{WEBSITE_WORKING_LANGUAGE}}</h2>
        <p>Este login &eacute; exclusivo para desenvolvedores relacionados a linguagem {{WEBSITE_WORKING_LANGUAGE}}.</p>
        <p>Caso você queira postar uma vaga, <a href="{% url 'job_creation' %}">clique aqui</a></p>
        <form action="." method="post">
            <p>{{ message }}</p>
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
              {{ hidden_field }}
            {% endfor %}
            {% for field in form.visible_fields %}
            {% if field.html_name != "on_mailing_list" %}
            <div class="row" style="margin-top:25px;">
                <div class="col-md-12">
                {{ field.label_tag }}
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    {% if field.html_name != "skills_" and field.html_name != "on_mailing_list" %}
                        {% render_field field style="margin-top:5px; width:100%; height: 44px;border-radius: 10px;border: 1px solid rgba(170, 170, 170, 0.3);overflow: hidden;padding: 10px;-moz-box-shadow:    inset 0 0 5px #aaa;-webkit-box-shadow: inset 0 0 5px #aaa;box-shadow: inset 0 0 5px #aaa;-webkit-appearance: none;-moz-appearance: none;"%}
                    {% elif field.html_name == "skills" %}
                        {% render_field field id="id_skills" style="margin-top:5px; width:100%; height: 44px;border-radius: 10px;border: 1px solid rgba(170, 170, 170, 0.3);overflow: hidden;padding: 10px;-moz-box-shadow:    inset 0 0 5px #aaa;-webkit-box-shadow: inset 0 0 5px #aaa;box-shadow: inset 0 0 5px #aaa;-webkit-appearance: none;-moz-appearance: none;"%}
                    {% elif field.html_name == "on_mailing_list" %}
                        {% render_field field style="margin-top:5px; border-radius: 5px;border: 1px solid rgba(170, 170, 170, 0.3);overflow: hidden;padding: 10px;-moz-box-shadow: inset 0 0 5px #aaa;-webkit-box-shadow: inset 0 0 5px #aaa;box-shadow: inset 0 0 5px #aaa;-webkit-appearance: none;-moz-appearance: none;"%} Você aceita estar em nossa newsletter? 
                    {% endif %}
                    {% for error in field.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                    {% endfor %}
                    {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="form-group">
              <button class="botao" type="submit" style="margin-top: 20px;">ENVIAR</button>
            </div>
        </form>
    </div>
</section>
{%endblock%}
{% block extra_scripts%}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#id_skills').select2();
});
</script>
{%endblock%}
