{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{%block main%}
<section class="detalhes-vaga">
    <div class="container">
        <div class="block-heading">
            <h2>Área do {{USER_SUBSTANTIVE}}</h2>
            <h4>Atualize sua senha!</h4>
        </div>
        <form action="." method="post">
            <p>{{ message }}</p>
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
              {{ hidden_field }}
            {% endfor %}
            {% for field in form.visible_fields %}
            <div class="row">
                <label for="">
                {{ field.label_tag }}
                </label>
                {% render_field field style="margin-top:5px; width:100%; height: 44px;border-radius: 10px;border: 1px solid rgba(170, 170, 170, 0.3);overflow: hidden;padding: 10px;-moz-box-shadow:    inset 0 0 5px #aaa;-webkit-box-shadow: inset 0 0 5px #aaa;box-shadow: inset 0 0 5px #aaa;-webkit-appearance: none;-moz-appearance: none;"%}
                {% for error in field.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
                {% endfor %}
                {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                {% endif %}
            </div>
            {% endfor %}
            <div class="form-group">
              <button class="botao" type="submit" style="margin-top: 20px;">ENVIAR</button>
            </div>
        </form>
    </div>
</section>
{%endblock%}
