{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
{% translate "Conhe&ccedil;a os servi&ccedil;os do {{WEBSITE_NAME}}"%}
{% endblock %}
{%block main%}
<section>
    <div class="container">
        <br>
        <center><h1>Conheça nossos serviços</h1></center>
        <br>
            <center>
              <a href="{% url 'contact' %}">
                <button class="botao btn btn-primary" type="submit" style="font-size:14px;">{% translate "Solicite uma cotação"%}</button>
              </a>
            </center>
            <br>
            <br>
            <div class="row">
                <h4>{% translate "Sobre o "|add:WEBSITE_NAME %}</h4>
                <p>
                  {% translate "O "|add:WEBSITE_NAME|add:" é o maior site de profissionais "|add:WEBSITE_WORKING_LANGUAGE|add:" do Brasil. Nós já contamos com mais de 1000 profissionais altamente qualificados e mais de 2 anos de experiência em programadores "|add:WEBSITE_WORKING_LANGUAGE|add:"."%}
                </p>
                <p>
                  {% translate "Atualmente, atuamos muito próximos a comunidade "|add:WEBSITE_WORKING_LANGUAGE|add:" para poder melhor atender as empresas e os "|add:WEBSITE_WORKING_LANGUAGE|add:"s. Buscamos sempre otimizar o nosso processo de seleção de profissionais."%}
                </p>
            </div>
            <div class="row">
                <h4>{% translate "Serviços"%}</h4>
                  <p>
                    <ul>
                      <li><b>Talent Contact Acquisition:</b> {% translate "Neste serviço, nós buscamos oferecer a melhor experiência a empresa em busca de seus talentos. Nossa rede de candidatos (dentro de cursos, comunidades e eventos) é muito grande, e com isso, ajudamos a empresa a ganhar visibilidade desta vaga na comunidade<"%}/li>
                      <br>
                      <li><b>Otimização de vaga:</b> {% translate "Para empresas que os RHs não têm pessoas técnicas, sempre é interessante ter alguém próximo para auxiliar no levantamento de requisitos da vaga e na montagem do perfil do profissional. Com este serviço, pretendemos otimizar ao máximo o perfil da vaga para poder encontrar a pessoa certa para a empresa."%}</li>
                      <br>
                      <li><b>Consultoria de RH:</b> {% translate "Para empresas que não são necessariamente do meio de TI, nós ajudamos a cuidar do processo de seleção do profissional, desde o primeiro <i>profiling</i> da vaga até a contratação do funcionário."%}</li>

                    </ul>
                  </p>
        </div>
    </div>
</section>

{%endblock%}