-i https://pypi.org/simple
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
cryptography==3.2
decorator==4.4.2
dj-database-url==0.5.0
django-appconf==1.0.4
django-bootstrap3==14.1.0
django-extensions==3.0.5
django-filter==2.3.0
django-material==1.7.0
django-model-utils==4.0.0
django-recaptcha==2.0.6
django-select2==7.4.2
django-widget-tweaks==1.4.8
django==2.2.13
gunicorn==20.0.4
idna==2.10
importlib-metadata==1.7.0 ; python_version < '3.8'
mailchimp3==3.0.14
pillow==7.2.0
psycopg2-binary==2.8.5
pycparser==2.20
python-dateutil==2.8.1
python-decouple==3.3
python-http-client==3.2.7
python-telegram-bot==12.8
pytz==2020.1
raven==6.10.0
requests==2.24.0
restless==2.1.1
sendgrid-django==4.2.0
sendgrid==3.6.5
six==1.15.0
sqlparse==0.3.1
tornado==6.0.4
tqdm==4.48.2
urllib3==1.25.10
whitenoise==5.2.0
zipp==3.1.0
