{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
  <div style="text-align:center;margin-top:25px;">
  <h3>Seja bem vindo ao seu dashboard, {{user.get_full_name}}!</h3>
  </div>
  <hr>
  <ul class="nav nav-tabs nav-justified">
      <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">Algumas Informações</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">Seu Usuário</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#panel3" role="tab">Seu Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel4" role="tab">Sua Empresa</a>
      </li>
  </ul>
  <!-- Tab panels -->
  <div class="tab-content card">
      <!--Panel 1-->
      <div class="tab-pane show active" id="panel1" role="tabpanel">
        <div class="container">
          <br>
          Olá {{user.get_full_name}},<br/>
          <hr>
          <p>
            Aqui é o seu dashboard do PyJobs, nele você conseguirá ter acesso as seguintes funções:
          </p>
          <ul style="list-style:square!important;">
            <li>Gerenciamento da sua conta</li>
            <li>Editar seu usuário e seu perfil</li>
            <li>Criar uma empresa</li>
            <li>Cadastrar novas vagas no sistema</li>
          </ul>
      </div>
      </div>
      <!--/.Panel 1-->
      <!--Panel 2-->
      <div class="tab-pane fade" id="panel2" role="tabpanel">
          <br>
          <div class="container">
          <form class="" action="/update/user/" method="post">
          {% csrf_token %}
          {% bootstrap_form userform %}
          {% comment %} {% bootstrap_form form2 %} {% endcomment %}
          {% buttons %}
            <button type="submit" class="btn btn-primary">
              {% bootstrap_icon "star" %} Salvar
          {% endbuttons %}
        </form>
      </div>
      </div>
      <!--/.Panel 2-->
      <!--Panel 3-->
      <div class="tab-pane fade" id="panel3" role="tabpanel">
          <br>
          <div class="container">
          <form class="" action="/update/profile/" method="post">
          {% csrf_token %}
          {% bootstrap_form profileform %}
          {% comment %} {% bootstrap_form form2 %} {% endcomment %}
          {% buttons %}
            <button type="submit" class="btn btn-primary">
              {% bootstrap_icon "star" %} Salvar
          {% endbuttons %}
        </form>
      </div>
      </div>
      <div class="tab-pane fade" id="panel4" role="tabpanel">
          <br>
          <div class="container">
            {%if companyexists%}
            <p>
              Edite os dados da sua empresa para você receber todas as novidades do PyJobs para a sua empresa.
              <form class="" action="/update/company/" method="post">
              {% csrf_token %}
              {% bootstrap_form companyform %}
              {% comment %} {% bootstrap_form form2 %} {% endcomment %}
              {% buttons %}
              <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Salvar Alterações
              {% endbuttons %}
            </p>
            {%else%}
            <p>
              Cadastre a sua empresa no PyJobs e tenha acesso ao maior número de candidatos especialistas em Python.
            </p>
            <hr>
            <a href="/cadastro-job/">
              <input type="button" name="button" value="Cadastrar Empresa">
            </a>
            {%endif%}
          </form>
          </div>
      </div>
      <!--/.Panel 3-->
  </div>
{% endblock content %}