{% extends "base.html" %}
{% load bootstrap3 %}
{% load material_form %}
{%block title%}Cadastre-se no PyJobs!{%endblock title%}
{%block ptitle%}Cadastre-se no PyJobs!{%endblock ptitle%}
{% block content %}
<section id="cadastro" style="margin-top:10px;">
  <center><h2>Login</h2></center>
  <center>Se logue ao PyJobs e tenha acesso a varias vagas de emprego ou cadastre a da sua empresa</center>
  <div class="container">

  <form class="" action="." method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% comment %} {% bootstrap_form form2 %} {% endcomment %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Login
  {% endbuttons %}
</form>
</section>
</div>

{%endblock content%}
{% block aditional_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
  $('#id_skills').select2();
</script>
{% endblock aditional_scripts %}
