{% extends "base.html" %}

{% block title %}Reset de senha{% endblock %}

{% block content %}
<p>Preencha o seu email no formulário abaixo e resete sua senha.</p>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p>
      <label for="id_email">Endereço de e-mail:</label> {{ form.email }}
      <input type="submit" value="Resetar a senha" />
    </p>
</form>
{% endblock %}
