{% extends "base.html" %}
{% block title %}Definindo uma Nova Senha{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Coloque sua nova senha 2 vezes.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nova senha:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirme a nova senha:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Trocar minha senha" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Reset de senha sem sucesso - Tente novamente mais tarde</h1>
    {% endif %}
{% endblock %}
