{% extends "base.html" %}
{%block title%}PyFreelas - Se cadastre nesta oportunidade!{%endblock title%}
{%block ptitle%}PyFreelas - Se cadastre nesta oportunidade!{%endblock ptitle%}
{% block content %}
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="row center">
          <h5 class="header col s12 light">Preencha o formulário abaixo e se candidate a vaga: {{obj.titulo_do_job}}!</h5>
        </div>
      </div>
        <form class="col s12" method="post">
          {% csrf_token %}
          {{form}}
          <br/>
          <input type="submit" name="submit" class="btn-large blue" value="ENVIAR">
        </form>
      </div>
      <div class="row">
      </div>

    </div>
  {% endblock content %}
