{% extends "base.html" %}
{%block title%}PyFreelas - Encontre o melhor talento para você!{%endblock title%}
{%block ptitle%}PyFreelas - Encontre o melhor talento para você!{%endblock ptitle%}
{% block content %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h2 class="header center orange-text">Encontre a Oportunidade perfeita para você</h1>
      <div class="row center">
        <h5 class="header col s12 light">Encontre a empresa para você trabalhar ou o job freelancer que irá te ajudar a aprender mais!</h5>
      </div>
      <div class="row center">
        <a href="/cadastre-oportunidade/" id="download-button" class="btn-large waves-effect waves-light orange">Ache uma Pessoa</a>
        <a href="/oportunidades/" id="download-button" class="btn-large waves-effect waves-light blue">Ache uma Oportunidade</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons large">flash_on</i></h2>
            <h5 class="center">Encontre um Pythonista rapidamente</h5>

            <p class="light" style="text-align: justify;">Muito tempo é perdido tentando encontrar desenvolvedores Python, portanto este site tentará ajudar as empresas a encontrarem as pessoas perfeitas a elas e ainda ajudar as pessoas que procuram uma recolocação no mercado a se reposicionar.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons large">group</i></h2>
            <h5 class="center">Focado em Conectar as Duas Pontas</h5>

            <p class="light" style="text-align: justify;">Achar ou o Pythonista ou a Empresa certa é complicado, e para resolver este problema, estamos montando a central de dados para todos que se interessarem em oportunidades Python, seja uma empresa ou Pythonista, assim todos podem trabalhar!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons large">settings</i></h2>
            <h5 class="center">Fácil de se inscrever</h5>

            <p class="light">Nós criamos um site simples e fácil para quem quiser começar a desenvolver seus trampos Python conseguir cadastrar rapidamente uma vaga e conseguir receber as pessoas através do email.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
  {% endblock content %}
