{% extends "base.html" %}
{%block title%}PyFreelas - {% if job.tipo_freela %}Job{% else %}Vaga{% endif %}: {{ job.titulo_do_job }}{%endblock title%}
{%block ptitle%}PyFreelas - {% if job.tipo_freela %}Job{% else %}Vaga{% endif %}: {{ job.titulo_do_job }}{%endblock ptitle%}
{% block content %}
  <div class="container">
    <div class="section">
      <div class="row">
        <h3 class="header orange-text">{% if job.tipo_freela %}Job{% else %}Vaga{% endif %}: <b>{{ job.titulo_do_job }}</b></h3>
        <p>Contratante: {{job.empresa}}</p>
      </div>
      <div class="row">
        <a href="/envio-interesse/{{job.pk}}/" id="download-button" class="btn waves-effect waves-light blue">Entre em contato</a>
        <a href="{{ job.link_da_empresa }}" id="download-button" class="btn waves-effect waves-light orange">Conheça a empresa</a>
        {% if job.valor_pago %}
            <span>R$ {{ job.valor_pago }}</span>
        {% endif %}
      </div>
      <div class="divider"></div>
      <div class="row">
        <div class="section">
          <h5 class="header orange-text">Descrição {% if job.tipo_freela %}do Job{% else %}da Vaga{% endif %}</h5>
          <p>
            {{ job.descricao|linebreaks }}
          </p>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row">
        <div class="section">
          <h5 class="header orange-text">Requisitos {% if job.tipo_freela %}do Job{% else %}da Vaga{% endif %}</h5>
          <p>
            {{ job.requisitos|linebreaks }}
          </p>
        </div>
      </div>
    </div>
    <br><br>
  </div>
  {% endblock content %}
