{% extends "base.html" %}
{% load bootstrap3 %}
{%block title%}Cadastre um job!{%endblock title%}
{%block ptitle%}Cadastre um job!{%endblock ptitle%}
{% block content %}
<section id="cadastro" style="margin-top:10px;">
  {% if not user.is_authenticated %}
  <center><h2>Se cadastre no PyJobs e cadastre jobs da sua empresa</h2>
  <p>Achar o Pythonista para seu job nunca foi tão fácil quanto agora, nós cuidaremos de toda a parte de divulgação para você!</p>
  <hr>
  <p>Se você já tem uma conta no PyJobs, entre e cadastre a sua vaga!</p>
  <form class="" action="/login/" method="post">
  {% csrf_token %}
  <input type="text" name="username" value="" placeholder="Seu usuario">
  <input type="password" name="password" value="" placeholder="Sua senha">
  <input type="submit" class="btn btn-primary" value="Logar">
  </form>
  </center>
  {% else %}
  <center><h2>Cadastre um job no PyJobs</h2></center>
  <center><p>Achar o Pythonista para seu job nunca foi tão fácil quanto agora! Os encontraremos e lhe passaremos todos os contatos</p></center>
  <form class="" action="." method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Cadastrar
  {% endbuttons %}
</form>
{%endif%}
</section>
</div>
{%endblock content%}
{% block aditional_scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#id_salario_minimo,#id_salario_maximo').inputmask({
        alias: 'numeric',
        prefix: 'R$ ',
        placeholder: '0',
        radixPoint: ',',
        digits: 2,
        autoGroup: true,
        groupSeparator: '.',
        groupSize: 3,
        integerDigits: 10,
        fractionalDigits: 2,
        allowPlus: false,
        allowMinus: false,
        digitsOptional: false,

    });
});
</script>
{% endblock aditional_scripts %}
