{% extends "base.html" %}
{% load bootstrap3 %}
{%block title%}{{job.titulo_do_job}} na {{job.empresa}}!{%endblock title%}
{%block ptitle%}{{job.titulo_do_job}} na {{job.empresa}}!{%endblock ptitle%}
{% block content %}
<h2 style="margin-top:15px;text-align:center;"><b>{%if job.tipo_freela%}Freela{%else%}Vaga{%endif%}</b> - {{job.titulo_do_job}}</h2>
<h6 style="text-align:center;">{{job.empresa}}</h6>
<b><p>Data de adição: {{job.data_adicionado}}</p></b>
<p>Aceita home office: {% if job.home_office%}Sim{% else %}Não{% endif %}</p>
<p>Localização: {{job.local}}</p>
<p>Nível: {{ job.get_nivel_display }}</p>
<!-- JOB -->
<hr/>
<div class="row">
  {% if user.is_authenticated %}
  <form action="." method="post">
    {% csrf_token %}
    {% comment %} <input type="hidden" name="job" value="{{job.pk}}"> {% endcomment %}
    {% if interest %}
<input type="submit" class="btn btn-primary" name="enviar" value="Você já se cadastrou nesta vaga">
    {%else%}
    <input type="submit" class="btn btn-success" name="enviar" value="Cadastrar interesse na vaga">
    {%endif%}
    {% if request.user.is_superuser %}
    <a href="/interessados/{{job.pk}}/">
      <input type="button" name="Download interessados" class="btn btn-success" value="Baixe os interessados na vaga">
    </a>
    {%endif%}
  </form>
  {% else %}
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#login">Se logue no PyJobs e envie o seu currículo para a vaga</button>
  {% endif %}
</div>
<hr/>
<div>
  <h4>Descrição:</h4>
    <p>
      {{job.descricao|linebreaks}}
    </p>
</div>
<div>
  <h4>Requisitos:</h4>
    <p>
      {{job.requisitos|linebreaks}}
    </p>
</div>
</div>

{%endblock content%}
{%include 'modal-login.html' %}
