{% extends "base.html" %}
{% load bootstrap3 %}
{% load material_form %}
{%block title%}Jobs disponíveis!{%endblock title%}
{%block ptitle%}Jobs disponíveis!{%endblock ptitle%}
{% block content %}
<h2 style="margin-top:15px;text-align:center;">Jobs disponíveis:</h2>
<!-- JOB -->
<hr/>
<a class="btn btn-primary" data-toggle="collapse" href="#collapsible-body" aria-expanded="false" aria-controls="collapsible-body">
      <i class="fa fa-wrench" aria-hidden="true"></i>  Filtre os Jobs
  </a>
  <hr>
<div class="row">
    <div class="collapse" id="collapsible-body">
      <h3>Filtre os jobs:</h3>
      <form class="" action="." method="get">
        {%bootstrap_form jobfilter%}
        {% buttons %}
          <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Filtrar
        {% endbuttons %}
      </form>
      <hr>
    </div>
</div>
{% for job in jobs %}
<div class="row">
  <div class="col-md-10">
    <h3>{{job.titulo_do_job}}</h3>
    <b><p>Empresa: {{job.empresa}}</p></b>
    <b><p>Tipo do Job: {% if job.tipo_freela %}Freela{% else %}Vaga{% endif %}</p></b>
    <b><p>Aceita home office: {% if job.home_office%}Sim{% else %}Não{% endif %}</p></b>
    <b><p>Nível: {{ job.get_nivel_display }}</p></b>
    <p>Data de adição: {{job.data_adicionado}}</p>
    <p>Local do job: {{job.local}}</p>
  </div>
  <div class="col-md-2">
    <a href="/job/{{job.pk}}"><button type="button" class="btn btn-success">SAIBA MAIS</button></a>
  </div>
</div>
<hr/>
{% endfor %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if jobs.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ jobs.previous_page_number }}" aria-label="Anterior">
        <span aria-hidden="true">&laquo;</span><span class="sr-only">Anterior</span>
      </a>
    </li>
    {% endif %}
    {% for page in jobs.paginator.page_range %}
    <li class="page-item {% if jobs.number == page%}active{% endif %}">
      <a class="page-link" href="?page={{ page }}">{{ page }}</a>
    </li>
    {% endfor %}
    {% if jobs.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ jobs.next_page_number }}" aria-label="Próximo">
        <span aria-hidden="true">&raquo;</span><span class="sr-only">Próximo</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock content %}
