{% extends "base.html" %}
{%block title%}Jobs disponíveis!{%endblock title%}
{%block ptitle%}Jobs disponíveis!{%endblock ptitle%}
{% block content %}

<h2 style="margin-top:15px;text-align:center;">Jobs disponíveis:</h2>


  <form class="form-inline">
      <input class="form-control col-md-8" type="text" name='titulo' placeholder="Título do job" aria-label="Search">

      <select class="col-md-2" name="home-office">
          <option value="" disabled selected>Home office?</option>
          <option value="1">Sim</option>
          <option value="0">Não</option>
      </select>

      <select class="col-md-2" name="freelancer">
      <option value="" disabled selected>O job é freela?</option>
      <option value="1">Sim</option>
      <option value="0">Não</option>
      </select>

      <button class="btn btn-primary col-md-12" type="submit">Pesquisar</button>
  </form>


<!-- JOB -->
{% for job in jobs %}
<div class="row">
  <div class="col-md-10">
    <h3>{{job.titulo_do_job}}</h3>
    <b><p>Empresa: {{job.empresa}}</p></b>
    <b><p>Tipo do Job: {% if job.tipo_freela %}Freela{% else %}Vaga{% endif %}</p></b>
    <b><p>Aceita home office: {% if job.home_office%}Sim{% else %}Não{% endif %}</p></b>
    <p>Data de adição: {{job.data_adicionado}}</p>
    <p>Local do job: {{job.local}}</p>
  </div>
  <div class="col-md-2">
    <a href="/job/{{job.pk}}"><button type="button" class="btn btn-success">SAIBA MAIS</button></a>
  </div>
</div>
<hr/>
{% empty %}
  <h1 class="text-center">Nenhum job encontrado!</h1>
{% endfor %}
{% include "includes/pagination.html" %}
{% endblock content %}
