{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{%block main%}
<section style="padding: 30px;">
    <div class="container">
        <h2 class="text-info">{% blocktranslate %} Cadastre-se no maior portal de vagas {{WEBSITE_WORKING_LANGUAGE}} {% endblocktranslate %}</h2>
        <p>{% blocktranslate %} "Este login &eacute; exclusivo para desenvolvedores relacionados a linguagem {{WEBSITE_WORKING_LANGUAGE}}. {% endblocktranslate %}</p>
        <p>{% translate "Caso você queira postar uma vaga,"%} <a href="{% url 'job_creation' %}">{% translate "clique aqui"%}</a></p>
        <form action="." method="post">
            <p>{{ message }}</p>
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
              {{ hidden_field }}
            {% endfor %}
            {% for field in form.visible_fields %}
            {% if field.html_name != "on_mailing_list" and  field.html_name != "agree_privacy_policy" %}
            <div class="row" style="margin-top:25px;">
                <div class="col-md-12">
                {{ field.label_tag }}
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    {% if field.html_name != "skills_" and field.html_name != "on_mailing_list" and field.html_name != "agree_privacy_policy" %}
                    {% if field.errors %}
                      {% render_field field style="margin-top:5px; width:100%; height: 44px;border-radius: 10px;border: 1px solid rgba(255, 0, 0, 0.7) !important; overflow: hidden;padding: 10px;-moz-box-shadow:    inset 0 0 5px #aaa;-webkit-box-shadow: inset 0 0 5px #aaa;box-shadow: inset 0 0 5px #aaa;-webkit-appearance: none;-moz-appearance: none;"%}
                    {% else %}
                      {% render_field field style="margin-top:5px; width:100%; height: 44px;border-radius: 10px;border: 1px solid rgba(170, 170, 170, 0.3);overflow: hidden;padding: 10px;-moz-box-shadow:    inset 0 0 5px #aaa;-webkit-box-shadow: inset 0 0 5px #aaa;box-shadow: inset 0 0 5px #aaa;-webkit-appearance: none;-moz-appearance: none;"%}
                    {% endif %}
                    {% elif field.html_name == "skills_" %}
                        {% render_field field id="id_skills" style="margin-top:5px; width:100%; height: 44px;border-radius: 10px;border: 1px solid rgba(170, 170, 170, 0.3);overflow: hidden;padding: 10px;-moz-box-shadow:    inset 0 0 5px #aaa;-webkit-box-shadow: inset 0 0 5px #aaa;box-shadow: inset 0 0 5px #aaa;-webkit-appearance: none;-moz-appearance: none;"%}
                    {% elif field.html_name == "on_mailing_list" %}
                        {% render_field field style="margin-top:5px; border-radius: 5px;border: 1px solid rgba(170, 170, 170, 0.3);overflow: hidden;padding: 10px;-moz-box-shadow: inset 0 0 5px #aaa;-webkit-box-shadow: inset 0 0 5px #aaa;box-shadow: inset 0 0 5px #aaa;-webkit-appearance: none;-moz-appearance: none;"%} {% translate "Você aceita estar em nossa newsletter?"%}
                    {% elif field.html_name == "agree_privacy_policy" %}
                        {% render_field field style="margin-top:5px; border-radius: 5px;border: 1px solid rgba(170, 170, 170, 0.3);overflow: hidden;padding: 10px;-moz-box-shadow: inset 0 0 5px #aaa;-webkit-box-shadow: inset 0 0 5px #aaa;box-shadow: inset 0 0 5px #aaa;-webkit-appearance: none;-moz-appearance: none;"%} {% translate "Você aceita nossa"%} <a href="{% url 'privacy' %}">{% translate "política de privacidade"%}</a>? 
                    {% endif %}
                    {% for error in field.errors %}
                    <div class="invalid-feedback-pj">
                      {{ error }}
                    </div>
                    {% endfor %}
                    {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="row" style="padding-bottom: 20px;">
                <div class="g-recaptcha" data-sitekey="{{RECAPTCHA_SITE_KEY}}"></div>
            </div>
            <div class="form-group">
              <button class="botao" type="submit" style="margin-top: 20px;">{% translate "ENVIAR"%}</button>
            </div>
        </form>
    </div>
</section>
{%endblock%}
{% block extra_scripts%}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#id_skills').select2();
});
</script>
{%endblock%}
